/* Webfont: PepsiFizz-Black */@font-face {
    font-family: 'PepsiFizzBlack';
    src: url('/assets/fonts/PepsiFizz-Black/PepsiFizz-Black.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/PepsiFizz-Black/PepsiFizz-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/PepsiFizz-Black/PepsiFizz-Black.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/PepsiFizz-Black/PepsiFizz-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/PepsiFizz-Black/PepsiFizz-Black.svg#PepsiFizz-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: PepsiFizz-Medium */@font-face {
    font-family: 'PepsiFizzMedium';
    src: url('/assets/fonts/PepsiFizz-Medium/PepsiFizz-Medium.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/PepsiFizz-Medium/PepsiFizz-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/PepsiFizz-Medium/PepsiFizz-Medium.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/PepsiFizz-Medium/PepsiFizz-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/PepsiFizz-Medium/PepsiFizz-Medium.svg#PepsiFizz-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: PepsiFizz-Light */@font-face {
    font-family: 'PepsiFizzLight';
    src: url('/assets/fonts/PepsiFizz-Light/PepsiFizz-Light.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/PepsiFizz-Light/PepsiFizz-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/PepsiFizz-Light/PepsiFizz-Light.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/PepsiFizz-Light/PepsiFizz-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/PepsiFizz-Light/PepsiFizz-Light.svg#PepsiFizz-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}